.button3 a{
    background-color: #5e5e5e56;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    overflow: hidden;
    
}
.button3 a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right,transparent, rgba(255, 255, 255, 0.356));
    transform: skewX(40deg) translateX(0);
    
    transition: 0.5s;
}
.button3:hover a::before{
    width: 100%;
    transform: skewX(40deg) translateX(100%);
    
}




.button3::before{
    content: '';
    position: absolute;
    bottom: 3px;
    left: 50%;
    width: 40px;
    height: 5px;
    background: rgb(223, 182, 0);
    transform: translateX(-50%);
    border-radius: 10px;
    z-index: -1;
   
}

.button3:hover::before{
    
    width: 100%;
    
    transition: .5s;
}

.button3:nth-child(1):hover::before{
    background-color:rgb(223, 182, 0) ;
    box-shadow: 0 0 0px rgb(223, 182, 0),
                0 0 0px rgb(223, 182, 0),
                0 0 25px rgb(223, 182, 0),
                0 0 25px rgb(223, 182, 0);
    
   
}
.button3:nth-child(2)::before{
    background-color:rgb(0, 245, 53) 
    
   
}
.button3:nth-child(2):hover::before{
    background-color:rgb(0, 245, 53) ;
    box-shadow: 0 0 0px rgb(223, 182, 0),
                0 0 0px rgb(223, 182, 0),
                0 0 25px rgb(0, 245, 53),
                0 0 25px rgb(0, 245, 53);
    
   
}